.cart{
    position: absolute;
    right: 50px;
    top: 60px;
    z-index: 999;
    background-color: #FDEEDC;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 7px -5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    h1{
        margin-bottom: 30px;
        color: #42032C;
        font-weight: 400;
        font-size: 20px;

    }

    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
        }
        .details{
            h1{
                font-size: 15px;
                font-weight: 500;
                margin-bottom: 5px;
            }
           
            .price{
                color:#42032C
            }
        }
        .delete{
            color: red;
            font-size: 20px;
            cursor: pointer;
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 10px;
    }
    button {
        width: 150px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        border: none;
        background-color: #F1A661;
        color: #42032C;
        font-weight: 500;
        margin-bottom: 10px;
        border-radius: 10px;
      }
      .reset{
        color:red;
        font-size: 12px;
        cursor: pointer;
      }
}